<div class="row">
  <div class="input-field col s6">
    <input value="Иванов" id="first_name" class="validate" type="text" [(ngModel)]="filterStr">
    <label class="active" for="first_name">Поиск по ФИО</label>
  </div>
</div>

<table>
  <tr>
    <th>№ п/п</th>
    <th>ФИО студента</th>
    <th>Возраст</th>
    <th>Оценка</th>
  </tr>
      <!-- *ngFor="let student of students | filter:filterStr; let i = index" -->
<!--   <div>

  </div> -->
  <tr>
    <app-students-comp 
        *ngFor="let s of students | filter:filterStr; let i = index"
        [student]="s"
        [ind]="i"
      >
    </app-students-comp>
  </tr>
</table>
